# Copyright 2017-2020 Peter Williams <peter@newton.cx> and collaborators
# Licensed under the MIT License.

[package]
name = "rubbl_casatables"
version = "0.0.0-dev.0"
authors = ["Peter Williams <peter@newton.cx>"]
license = "MIT"
edition = "2018"
homepage = "https://github.com/pkgw/rubbl"
repository = "https://github.com/pkgw/rubbl"
description = """
Interfacing to the CASA table format within the Rubbl framework.
"""

[package.metadata.internal_dep_versions]
rubbl_casatables_impl = "1d861e38cc1a40a6f0c984a58ae3dee54c27d127"
rubbl_core = "thiscommit:2020-12-15:EiT8sa0a"

[dependencies]
byteorder = "^1.4"
clap = "^2.33"
itertools = "^0.10"
ndarray = "^0.15"
nom = "^6.1"
num-traits = "^0.2"
pbr = "^1.0"
rubbl_casatables_impl = { version ="0.0.0-dev.0", path = "../casatables_impl" }
rubbl_core = { version ="0.0.0-dev.0", path = "../core" }
thiserror = "^1.0"

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
