# Copyright 2017-2021 Peter Williams <peter@newton.cx> and collaborators
# Licensed under the MIT License.

[package]
name = "rubbl_casatables"
version = "0.5.1"
authors = ["Peter Williams <peter@newton.cx>"]
license = "MIT"
edition = "2018"
homepage = "https://github.com/pkgw/rubbl"
repository = "https://github.com/pkgw/rubbl"
description = """
Interfacing to the CASA table format within the Rubbl framework.
"""

[package.metadata.internal_dep_versions]
rubbl_casatables_impl = "thiscommit:2021-11-04:9Lgzrtq"
rubbl_core = "thiscommit:2020-12-15:EiT8sa0a"

[dependencies]
failure = "^0.1"
failure_derive = "^0.1"
ndarray = ">=0.8"
rubbl_casatables_impl = { version =">=0.3.31100,<1", path = "../casatables_impl" }
rubbl_core = { version =">=0.2.0,<1", path = "../core" }

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }

[dev-dependencies]
clap = "^2.33"
tempfile = "3.2"
